<!DOCTYPE html>
<html lang = "eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo de site</title>
</head>
<body>
    <h2>Home page do meu site</h2>
    <p>Bem vindo ao meu site de exemplo!</p>
    <p>Este é um exemplo simples de uma página inicial.</p>
    <h2>Links para as nossas aplicações </h2>
    <ul>
        <li><a href="{% url 'admin:index' %}">Admin</a></li>
        <li><a href="{% url 'contatos:lista-contatos' %}">Contatos</a></li>
        <li><a href="{% url 'sec-home' %}">Segurança</a></li>
        <li><a href="{% url 'formulario' %}">Formulário de exemplo</a></li>
    </ul>
</body>
</html>