<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Recuperação de Senha de {{domain}}</title>
</head>
<body>
    <p>
        Olá {{ user.get_full_name|default:user.username }},
    </p>
    <p>
        Você solicitou uma redefinição de senha para sua conta.
        se você não fez essa solicitação, por favor ignore este email.
    </p>
    <p>
        Por favor, clique no link abaixo para redefinir sua senha
    </p>

    <p>
        <a href="{{ protocol}}://{{ domain }}{{ link }}">{{ protocol}}://{{ domain }}{{ link }}</a>
    </p>

    <p>
        caso você tenha esquecido, seu username é: {{ user.username }}
    </p>
    <p>
        Obrigado.
        <br>
        A equipe do site {{ domain }}.
    </p>

</body>
</html>
