{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo_janela}}</title>
    {% include 'contatos/header.html'%}
    <link rel="stylesheet" href="{% static 'contatos/css/estilo.css' %}">
</head>
<body>
    {% include 'contatos/header.html' %}
    {% include 'contatos/links.html' %}

    <h1> {{titulo_pagina}}</h1>
    <form method="POST" class='formulario'>
        {% csrf_token %}
        <table>
            {{ form.as_table }}
            <tr>
                <td></td>
                <td><input type="submit" value={{ botao }} class = "btn btn-primary"></td>
            </tr>
        </table>
    </form>
</body>
</html>

