{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{titulo_pagina}}</title>
<link rel="stylesheet" href="{% static 'contatos/css/estilo.css' %}">
</head>
<body>
    {% include 'contatos/header.html' %}
    {% include 'contatos/links.html' %}
    <h1>{{titulo_janela}}</h1>
    <table border="1">
        <tr><th>Nome</th><th>Logradouro</th><th>Número</th><th>Complemento</th><th>Bairro</th><th>Cidade</th><th>Estado</th><th>CEP</th></tr>
        {% for endereco in enderecos %}
        <tr>
            <td> {{ endereco.pessoa.nome }} </td>
            <td> {{ endereco.logradouro }} </td>
            <td> {{ endereco.numero }} </td>
            <td> {{ endereco.complemento }} </td>
            <td> {{ endereco.bairro }} </td>
            <td> {{ endereco.cidade }} </td>
            <td> {{ endereco.estado }} </td>
            <td> {{ endereco.cep }} </td>
            <td> <a href = "{% url 'contatos:lista-contatos' %}" class = "btn btn-primary"> Voltar a Home Page </a>
        </tr>
        {% empty %}
            <tr><th colspan="5">Ainda não tem endereços cadastrados</th></tr>
        {% endfor %}
    </table>
</body>
</html>